/* You can add global styles to this file, and also import other style files */
@import "ej2-base/styles/material.scss";
@import "ej2-buttons/styles/material.scss";
@import "ej2-calendars/styles/material.scss";
@import "ej2-dropdowns/styles/material.scss";
@import "ej2-inputs/styles/material.scss";
@import "ej2-lists/styles/material.scss";
@import "ej2-popups/styles/material.scss";
@import "ej2-navigations/styles/material.scss";
@import "ej2-angular-schedule/styles/material.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
